<div class="container">
  <label>Película</label>
  <input type="text" class="form-control" [(ngModel)]="nombre" />
  <p *ngIf="!nombre">Por favor, escribe el nombre de la película</p>
  <br />
  <label>Género</label>
  <input type="text" class="form-control" [(ngModel)]="genero" />
  <p *ngIf="!nombre">Por favor, escribe el género</p>
  <br />
  <label>Categoría</label>
  <input type="text" class="form-control" [(ngModel)]="link" />
  <p *ngIf="!nombre">Por favor, escribe un link</p>
  <br />
  <button type="submit" class="btn btn-danger" (click)="guardar()">
    Agregar
  </button>
  <br /><br />
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <a href="#" class="card-link">Card link</a>
    </div>
  </div>
</div>
