<div class="container">
  <!-- Formulario para cargar una nueva película -->
  <!-- ngSubmit evento que se llama cuando un botón del tipo 'submit' se clickea, y al ejecutarse dispara a la función guardar() -->
  <!-- #<nombre_variable> -> ID de la etiqueta en la que se encuentra -->
  <form (ngSubmit)="guardar()" #formpeli="ngForm">
    <!-- Película -->
    <label>Película</label>
    <i
      class="fas fa-check-circle checked"
      *ngIf="nombre.valid && nombre.dirty"
    ></i>
    <i
      class="fas fa-exclamation-circle unchecked"
      *ngIf="nombre.invalid && nombre.touched"
    ></i>
    <!-- 'nombre' (del ngModel) es una variable nueva para poder identificar el input -->
    <!-- ngModel name -> notación específica del formulario (siempre tiene que ir)-->
    <!-- #nombre es para que la línea 14 reconozca esa variable-->
    <input
      type="text"
      class="form-control"
      ngModel
      name="nombre"
      required
      #nombre="ngModel"
    />
    <p class="text-danger" *ngIf="nombre.invalid && nombre.touched">
      Por favor, escribe el nombre de la película
    </p>
    <br />
    <!-- Género -->
    <label>Género</label>
    <select class="form-control" ngModel name="genero" required>
      <!-- 'value' representa el valor que se almacena en el select del formulario -->
      <option value="">Seleccione un género</option>
      <!-- el "texto_genero" debe coincidir las 3 veces -->
      <!-- el value va con [] para que identifique que lo que está a la derecha del = es una variable y no un string -->
      <option *ngFor="let texto_genero of generos" [value]="texto_genero">{{
        texto_genero
      }}</option>
    </select>
    <p class="text-danger" *ngIf="!genero">Por favor, escribe el género</p>
    <br />
    <!-- Link -->
    <label>Link</label>
    <input type="text" class="form-control" ngModel name="link" required />
    <p class="text-danger" *ngIf="!link">Por favor, escribe un link</p>
    <br />
    <!-- el botón va a estar desabilitado mientras el formulario no esté valido -->
    <button type="submit" class="btn btn-danger" [disabled]="!formpeli.valid">
      Agregar
    </button>
  </form>
  <br /><br />
  <!-- diry: es true cuando en el input se escribe al menos un caracter -->
  <h4>Propiedad dirty del form --> {{ formpeli.controls.nombre.dirty }}</h4>
  <!-- pristine: es true cuando en el input no se ha escrito ningún caracter -->
  <h4>
    Propiedad pristine del form --> {{ formpeli.controls.nombre.pristine }}
  </h4>
  <!-- touched: es true cuando saco el foco del input. Esto implica que en algún momento se hizo foco en el input -->
  <h4>Propiedad touched del form --> {{ formpeli.controls.nombre.touched }}</h4>
  <!-- valid: es true cuando la cumple la condición del validador que le pusimos al input -->
  <h4>Propiedad valid del form --> {{ formpeli.controls.nombre.valid }}</h4>
  <!-- invalid: es true cuando no cumple con la condición del validador que le pusimos al input -->
  <h4>Propiedad invalid del form --> {{ formpeli.controls.nombre.invalid }}</h4>
</div>
