<div class="card mb-2" style="width: 18rem;">
  <div class="card-body">
    <p class="card-subtitle mb-2 text-muted estiloFecha">
      <!-- Angular Pipes https://angular.io/api?type=pipe -->
      {{ creado | date: "short" }}
    </p>
    <h5 class="card-title" [ngClass]="{ tachado: marcado == true }">
      {{ titulo | titlecase }}
    </h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ subtitulo | uppercase }}</h6>
    <a href="#" class="card-link">{{ link }}</a>
    <br /><br />
    <button
      type="button"
      class="btn btn-primary btn-lg btn-block"
      *ngIf="marcado == false"
      (click)="marcar()"
    >
      Marcar
    </button>
    <button
      type="button"
      class="btn btn-primary btn-lg btn-block"
      *ngIf="marcado == true"
      (click)="marcar()"
    >
      <!-- Mejor opción - un solo botón:
      <span *ngIf="marcado == false">Marcar</span>
      <span *ngIf="marcado == true">Desmarcar</span> -->
      Desmarcar
    </button>
  </div>
</div>
