<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Título</th>
      <th scope="col">Categoría</th>
      <th scope="col">Links</th>
      <th scope="col">Fecha</th>
      <!-- el width es para que los botones "Marcar" y "Desmarcar" sean del mismo tamaño -->
      <th scope="col" style="width: 26%;">Acción</th>
    </tr>
  </thead>
  <tbody>
    <!-- 'let i -> crea variable i igual al índice (index) del for. Abajo le suma 1 por ser base 0' -->
    <!-- Desarrollo del *ngFor (abajo) -->
    <!-- for(int index = 0; index < arregloPeliculas.length) {
            peli = arreglopeliculas[index]
          } -->
    <tr *ngFor="let peli of arregloPeliculas; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ peli.nombre | titlecase }}</td>
      <td>{{ peli.genero | uppercase }}</td>
      <td>{{ peli.link }}</td>
      <td>{{ peli.creado | date: "short" }}</td>
      <td>
        <button
          type="button"
          class="btn btn-link btn-lg btn-block"
          *ngIf="arregloMarcado[i] == true"
          (click)="marcar(peli, i)"
        >
          Marcar
        </button>
        <button
          type="button"
          class="btn btn-link btn-lg btn-block"
          *ngIf="arregloMarcado[i] == false"
          (click)="marcar(peli, i)"
        >
          Desmarcar
        </button>
      </td>
    </tr>
  </tbody>
</table>
