<div class="container">
  <!-- el formGroup especifica a qué formulario pertenece -->
  <form [formGroup]="libroForm" (ngSubmit)="onSubmit()">
    <!-- Libro -->
    <label>Libro</label>
    <!-- Cambia la sintaxis del ngIf para este tipo de formulario -->
    <!-- libroForm -> controls -> nombre : accedo al control 'nombre' dentro de la propiedad Controls la cual guarda todos los controles pertenecientes a su correspondiente formGroup -->
    <i
      class="fas fa-check-circle checked"
      *ngIf="libroForm.controls.nombre.valid && libroForm.controls.nombre.dirty"
    ></i>
    <i
      class="fas fa-exclamation-circle unchecked"
      *ngIf="
        libroForm.controls.nombre.invalid && libroForm.controls.nombre.touched
      "
    ></i>
    <!-- el formControlName tiene que coincidir con el correspondiente dentro del formGroup que está en el ts -->
    <input type="text" class="form-control" formControlName="nombre" />
    <div
      class="alert alert-danger mt-2"
      *ngIf="
        libroForm.controls.nombre.invalid && libroForm.controls.nombre.touched
      "
      role="alert"
    >
      <span style="color: black;"
        >Por favor, escribe el nombre de la película</span
      >
    </div>
    <br />
    <!-- Género -->
    <label>Género</label>
    <i
      class="fas fa-check-circle checked"
      *ngIf="libroForm.controls.genero.valid && libroForm.controls.genero.dirty"
    ></i>
    <i
      class="fas fa-exclamation-circle unchecked"
      *ngIf="
        libroForm.controls.genero.invalid && libroForm.controls.genero.touched
      "
    ></i>
    <select class="form-control" formControlName="genero">
      <option value="">Seleccione un género</option>
      <option *ngFor="let texto_genero of generos" [value]="texto_genero">{{
        texto_genero
      }}</option>
    </select>
    <div
      class="alert alert-danger mt-2"
      *ngIf="
        libroForm.controls.genero.invalid && libroForm.controls.genero.touched
      "
      role="alert"
    >
      <span style="color: black;"
        >Por favor, escribe el nombre de la película</span
      >
    </div>
    <br />
    <!-- Link -->
    <label>Link</label>
    <i
      class="fas fa-check-circle checked"
      *ngIf="libroForm.controls.link.valid && libroForm.controls.link.dirty"
    ></i>
    <i
      class="fas fa-exclamation-circle unchecked"
      *ngIf="libroForm.controls.link.invalid && libroForm.controls.link.touched"
    ></i>
    <input type="text" class="form-control" formControlName="link" />
    <div
      class="alert alert-danger mt-2"
      *ngIf="libroForm.controls.link.invalid && libroForm.controls.link.touched"
      role="alert"
    >
      <span style="color: black;"
        >Por favor, escribe el nombre de la película</span
      >
    </div>
    <br />
    <button type="submit" class="btn btn-danger" [disabled]="!libroForm.valid">
      Agregar
    </button>
  </form>
  <br /><br />

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Título</th>
        <th scope="col">Categoría</th>
        <th scope="col">Links</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let libro of arregloLibros; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ libro.nombre }}</td>
        <td>{{ libro.genero }}</td>
        <td>{{ libro.link }}</td>
      </tr>
    </tbody>
  </table>
  <!-- Para no crear un componente nuevo que muestre los valores. Se utiliza en un ambiente de desarrollo o testeo, después hay que sacarlo -->
  <!-- <pre>{{ libroForm.value | json }}</pre>
  <br />
  <pre>{{ libro | json }}</pre>
</div> -->
</div>
