<table class="table table-striped mt-3">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Género</th>
      <th class="text-center" scope="col">Mail</th>
      <th class="text-center" scope="col">Acc</th>
      <th class="text-center" scope="col">Acc. 2</th>
      <th class="text-center" scope="col">Acc. 3</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ usuario.first_name }}</td>
      <td>{{ usuario.last_name }}</td>
      <td>{{ usuario.gender }}</td>
      <td class="text-center">{{ usuario.email }}</td>
      <td class="text-center">
        <button
          type="button"
          class="btn btn-link"
          (click)="obtenerDetalles(usuario.id)"
        >
          Ver
        </button>
      </td>
      <td class="text-center">
        <button type="button" class="btn btn-link">
          Editar
        </button>
      </td>
      <td class="text-center">
        <button
          type="button"
          class="btn btn-link"
          (click)="confirmar(usuario.id)"
        >
          Borrar
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="backdrop" [ngStyle]="{ display: modalAbierto ? 'block' : 'none' }">
  <!-- Modal -->
  <!-- [ngStyle] -> poner un estilo en base a una condición, en este caso display block/none -->
  <div
    class="modal fade"
    [ngStyle]="{ display: modalAbierto ? 'block' : 'none', opacity: 1 }"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" *ngIf="!mostrarLoading">
            {{ usuarioMarcado?.first_name }}
          </h5>
          <div *ngIf="mostrarLoading">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <span class="ml-3">Cargando</span>
          </div>
          <button
            type="button"
            class="close"
            (click)="abrir_cerrar_modal(false)"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" *ngIf="!mostrarLoading">
          {{ usuarioMarcado?.email }}
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            (click)="abrir_cerrar_modal(false)"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="backdrop"
  [ngStyle]="{ display: modalBorrarAbierto ? 'block' : 'none' }"
>
  <!-- Modal -->
  <div
    class="modal fade"
    [ngStyle]="{ display: modalBorrarAbierto ? 'block' : 'none', opacity: 1 }"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          ¿Está seguro oque quiere borrar este ítem?
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            (click)="abrir_cerrar_modal_borrar(false)"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="borrarUsuario()"
          >
            Aceptar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
