<table class="table table-striped mt-3">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Género</th>
      <th scope="col">Mail</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ usuario.first_name }}</td>
      <td>{{ usuario.last_name }}</td>
      <td>{{ usuario.gender }}</td>
      <td>{{ usuario.email }}</td>
      <td>
        <button type="button" class="btn btn-link" (click)="obtenerDetalles()">
          Ver
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<!-- [ngStyle] -> poner un estilo en base a una condición, en este caso display block/none -->
<div class="backdrop" [ngStyle]="{ display: modalAbierto ? 'block' : 'none' }">
  <div
    class="modal fade"
    [ngStyle]="{ display: modalAbierto ? 'block' : 'none', opacity: 1 }"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button
            type="button"
            class="close"
            (click)="abrir_cerrar_modal(false)"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Hola
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            (click)="abrir_cerrar_modal(false)"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
